* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;}


.contenedor {
	background:#FF0000;
	width:90%;
	max-width:1000px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
  background-color:#0000FF;
}

header {
	background:#FF0000;
	width:100%;
	padding:20px;
	font-family: "Comic Sans Ms";

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:150px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}
header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#FFD700;
	color:#000000;
	text-align: center;
	text-decoration: none;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}
header nav a:hover {
	background:#696969;
}
.main {
	background:#FFFFFF;
	padding:20px;

	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;

}

article p.p{
	color:#20B2AA;
	text-align: justify;
}
article p{
	color: blue;
	text-align: justify;
}
 article img.img{
	float: right;
	width:300%;
  max-width:150px;
	height: 300%;
	max-height: 120px;
}

article img{
 float: left;
 width:70%;
 max-width:120px;
 height: 70%;
 max-height: 120px;
}




.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}
aside {
	background:#8B0000;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}
aside .widget {
	background:#8B0000;
	height:350px;
	margin:10px;
}
aside .widget img{
	width:100%;
	height: 100%;
  max-width: 275px;
	max-height: 275px;

  border-color: #ffffff;
  border-style: solid;
  border-radius: 10%;

  display:flex;
	flex-wrap:wrap;
	align-items:center;
}	
footer {
	background:#000000;
	width: 100%;
	padding:20px;
	font-family: "Comic Sans Ms";

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#000000;
	display:flex;
	flex-wrap:wrap;
}
footer .links a {
	flex-grow:1;

	color:#FFFFFF	;
	padding:10px;
	text-align: center;
	text-decoration:none;
}
footer .links a:hover {
	background:#BEBEBE;
}

footer .social {
	background:#00000000;
}
footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}
@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}

